/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*Button style 1*/
    .wpnm-button.style-1 {
        font-size: 16px;
        position: relative;
        display: block;
        width: 2.5em;
        height: 1.3125em;
        margin-bottom: 0;
        top: 0.125em;
    }
    .wpnm-button.style-1 .wpnm-slider.round {
        border-radius: 2.125em;
    }
    .wpnm-button.style-1 .wpnm-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .wpnm-button.style-1 .wpnm-slider:before {
        position: absolute;
        content: "";
        height: 0.9375em;
        width: 0.9375em;
        left: 0.2em;
        bottom: 0.1875em;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .wpnm-button.style-1 .wpnm-slider.round:before {
        border-radius: 50%;
    }

    /*Active*/
    .wpnm-button.style-1.active .wpnm-slider {
        background-color: #2196F3;
    }
    .wpnm-button.style-1.active .wpnm-slider:before {
        -webkit-transform: translateX(1.2em);
        -ms-transform: translateX(1.2em);
        transform: translateX(1.2em);
    }

/*Button style 2*/
    .wpnm-button.style-2 {
        font-size: 16px;
    }
    .wpnm-button-inner-left:empty {
        margin-left: -0.625em;
    }
    .wpnm-button-inner-left:before,
    .wpnm-button-inner-left:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        /*transition*/
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        outline: none;
    }
    .wpnm-button.style-2 .wpnm-button-inner,
    .wpnm-button.style-2 .wpnm-button-inner-left {
        display: inline-block;
        font-size: 0.875em;
        position: relative;
        padding: 0em;
        line-height: 1em;
        cursor: pointer;
        color: rgba(149, 149, 149, 0.51);
        font-weight: normal;
    }
    .wpnm-button.style-2 .wpnm-button-inner-left:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        line-height: 2.125em;
        text-indent: 2.5em;
        height: 1em;
        width: 1em;
        margin: 0.25em;
        /*border-radius*/
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        right: 1.625em;
        bottom: 0em;
        background: #FFB200;
        transform: rotate(-45deg);
        box-shadow: 0 0 0.625em white;
    }
    .wpnm-button.style-2 .wpnm-button-inner-left:after {
        content: "";
        display: inline-block;
        width: 2.5em;
        height: 1.5em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        border-radius: 1em;
        background: rgba(255, 255, 255, 0.15);
        vertical-align: middle;
        margin: 0 0.625em;
        border: 0.125em solid #FFB200;
    }
    .wpnm-button.style-2.active .wpnm-button-inner-left:before {
        right: 1.0625em;
        box-shadow: 0.3125em 0.3125em 0 0 #eee;
        background: transparent;
    }
    .wpnm-button.style-2.active .wpnm-button-inner-left:after {
        background: rgba(0, 0, 0, 0.15);
        border: 0.125em solid white;
    }
    .wpnm-button.style-2 .wpnm-button-inner-left {
        color: rgba(250, 250, 250, 0.51);
        font-weight: bold;
    }
    .wpnm-button.style-2.active .wpnm-button-inner-left {
        color: rgba(149, 149, 149, 0.51);
        font-weight: normal;
    }
    .wpnm-button.style-2.active .wpnm-button-inner-left + .wpnm-button-inner {
        color: rgba(250, 250, 250, 0.51);
        font-weight: bold;
    }

/*Button style 3*/
    /*BASED ON Ramakrishna V's Day-Night Toggle Button, https://dribbble.com/shots/1907553-Day-Night-Toggle-Button*/
    .wpnm-button.style-3 {
        font-size: 16px;
        position: relative;
        z-index: 0;
        display: inline-block;
        width: 2.625em;
        height: 1.5em;
        background-color: #BFE6F7;
        border-width: 0.125em;
        border-style: solid;
        border-color: #80C1D7;
        border-radius: 0.750em;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .wpnm-button.style-3 .wpnm-button-circle {
        position: absolute;
        z-index: 20;
        top: 0.094em;
        right: 0.125em;
        border-width: 0.125em;
        width: 1.125em;
        height: 1.125em;
        background-color: #F5ED28;
        border: 0.125em solid #E6C542;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }
    .wpnm-button.style-3 .wpnm-button-cloud {
        position: absolute;
        top: 0.563em;
        left: 0.563em;
        width: 1.125em;
        height: 1.125em;
        transition: all 0.3s ease-in-out;
        -webkit-animation: cloud 12s linear infinite;
        -moz-animation: cloud 12s linear infinite;
        -o-animation: cloud 12s linear infinite;
        animation: cloud 12s linear infinite;
    }
    .wpnm-button.style-3 .wpnm-button-cloud div,
    .wpnm-button.style-3 .wpnm-button-cloud div:before,
    .wpnm-button.style-3 .wpnm-button-cloud div:after {
        position: absolute;
        display: block;
        z-index: 40;
        width: 0.75em;
        height: 0.375em;
        background-color: #F5F6F8;
        border-radius: 0.188em;
        content: "";
    }
    .wpnm-button.style-3 .wpnm-button-cloud div:before {
        bottom: 0.188em;
        left: 0.063em;
        width: 0.375em;
        height: 0.375em;
    }
    .wpnm-button.style-3 .wpnm-button-cloud div:after {
        bottom: 0.188em;
        left: 0.375em;
        width: 0.25em;
        height: 0.25em;
        border-radius: 0.125em;
    }
    .wpnm-button.style-3 .wpnm-button-cloud div + div {
        top: -0.063em;
        left: -0.063em;
    }
    .wpnm-button.style-3 .wpnm-button-cloud div + div,
    .wpnm-button.style-3 .wpnm-button-cloud div + div:before,
    .wpnm-button.style-3 .wpnm-button-cloud div + div:after {
        z-index: 30;
        width: 0.938em;
        height: 0.563em;
        background-color: #D2D4D3;
        border-radius: 0.25em;
    }
    .wpnm-button.style-3 .wpnm-button-cloud div + div:before {
        bottom: 0.188em;
        left: 0.063em;
        width: 0.563em;
        height: 0.563em;
    }
    .wpnm-button.style-3 .wpnm-button-cloud div + div:after {
        bottom: 0.188em;
        left: 0.375em;
        width: 0.438em;
        height: 0.438em;
        border-radius: 0.188em;
    }
    .wpnm-button.style-3.active {
        background-color: #484848;
        /*background-color: transparent;*/
        border-color: #202020;
    }
    .wpnm-button.style-3.active .wpnm-button-circle {
        right: 1.188em;
        background-color: #FFFDF1;
        border-color: #E1E5C4;
    }
    .wpnm-button.style-3.active .wpnm-button-moon-spots {
        width: 0.375em;
        height: 0.375em;
    }
    .wpnm-button.style-3.active .wpnm-button-moon-spots,
    .wpnm-button.style-3.active .wpnm-button-moon-spots:before,
    .wpnm-button.style-3.active .wpnm-button-moon-spots:after {
        border-width: 0.063em;
    }
    .wpnm-button.style-3.active .wpnm-button-moon-spots:before {
        height: 0.063em;
        width: 0.063em;
        border-radius: 0.188em;
    }
    .wpnm-button.style-3.active .wpnm-button-moon-spots:after {
        height: 0.188em;
        width: 0.188em;
        border-radius: 0.125em;
    }
    .wpnm-button.style-3.active .wpnm-button-cloud {
        opacity: 0;
    }
    .wpnm-button.style-3.active .wpnm-button-stars {
        opacity: 1;
        background-color: #484848;
    }
    .wpnm-button-moon-spots {
        top: 0.067em;
        right: 0.067em;
        z-index: 10;
    }
    .wpnm-button-moon-spots,
    .wpnm-button-moon-spots:before,
    .wpnm-button-moon-spots:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        background-color: #EFEED9 !important;
        border: 0 solid #E1E5C4;
        border-color: #E1E5C4;
        border-radius: 50%;
        content: "";
        transition: all 0.3s ease-in-out;
    }
    .wpnm-button-moon-spots:before {
        right: 0.563em;
    }
    .wpnm-button-moon-spots:after {
        right: 0.063em;
        bottom: -0.563em;
    }
    .wpnm-button-stars {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.188em;
        height: 1.313em;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .wpnm-button-stars div {
        bottom: 0.188em;
        left: 0;
        width: 0.121em;
        height: 0.121em;
    }
    .wpnm-button-stars div,
    .wpnm-button-stars div:before,
    .wpnm-button-stars div:after {
        position: absolute;
        display: block;
        background-color: #FEFEFE !important;
        border-radius: 50%;
        content: "";
    }
    .wpnm-button-stars div:before {
        bottom: 0.625em;
        left: 0.25em;
        width: 0.059em;
        height: 0.059em;
    }
    .wpnm-button-stars div:after {
        bottom: 0.938em;
        left: -0.063em;
        width: 0.063em;
        height: 0.063em;
    }
    .wpnm-button-stars div + div {
        top: 0.563em;
        left: 0.938em;
        right: 0;
    }
    .wpnm-button-stars div + div:before {
        bottom: -0.188em;
        left: -0.375em;
    }
    .wpnm-button-stars div + div:after {
        bottom: -0.375em;
        left: -0.063em;
    }

/*Button style 4*/
    .wpnm-button.style-4 {
        font-size: 16px;
        box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1);
        width: 2.75em;
        height: 1.5em;
        border: 0.125em solid rgba(204, 204, 204, 0.4);
        background: rgba(252, 250, 250, 0.05);
        padding: 0.25em;
        position: relative;
        border-radius: 2.5em;
        cursor: pointer;
    }

    .wpnm-button.style-4 .wpnm-button-inner {
        height: 1.125em;
        width: 1.125em;
        background: yellow;
        border-radius: 2.5em;
        position: absolute;
        pointer-events: none;
        top: 0.125em;
        left: 0.125em;
        transition: left 0.5s ease, box-shadow 0.5s ease, border 0.5s ease, top 0.5s ease;
        background: #EDDDD4;
        background: linear-gradient(135deg, #edddd4 0%, #fcfafa 50%, #edddd4 51%, #fcfafa 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=1 );
        box-shadow: 0 0 0.3125em 0.0625em #EDDDD4;
        border: 0.3125em solid rgba(237, 221, 212, 0.5);
    }
    .wpnm-button.style-4 .wpnm-button-inner::before {
        content: '';
        height: 1.2375em;
        width: 1.2375em;
        background: red;
        top: -0.0625em;
        left: -0.0625em;
        position: absolute;
        border-radius: 2.5em;
        background: #FFFFFF;
        background: radial-gradient(ellipse at center, white 0%, #ffbe0b 50%, #fb5607 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 );
        transition: opacity 0.5s ease;
        opacity: 0;
    }

    /*Active*/
    .wpnm-button.style-4.active {
        border: 0.0625em solid rgba(255, 255, 255, 0.525);
    }
    .wpnm-button.style-4.active .wpnm-button-inner {
        left: 1.375em;
        box-shadow: 0 0 0.125em 0.125em #FB5607;
        border: 0.0625em solid #fb5607;
    }

/*Button style 5*/
    .wpnm-button.style-5 {
        font-size: 16px;
        cursor: default;
    }
    .wpnm-button.style-5 #dayIcon,
    .wpnm-button.style-5 #nightIcon {
        position: relative;
        width: 1.75em;
        height: 1.75em;
        top: -0.1875em;
        fill: #9caec0;
    }
    .wpnm-button.style-5 .wpnm-button-sun,
    .wpnm-button.style-5 .wpnm-button-moon {
        display: inline-block;
    }
    .wpnm-button.style-5 .wpnm-button-toggle {
        outline: 0;
        display: inline-block;
        width: 4em;
        height: 2em;
        position: relative;
        margin: 0 0.4375em;
        padding: 0.125em;
        border: 0.125em solid rgba(156, 174, 192, 0.27);
        border-radius: 2em;
        cursor: pointer;
    }
    .wpnm-button.style-5 .wpnm-button-toggle:after {
        content: "";
        display: block;
        position: relative;
        width: 50%;
        height: 100%;
        left: 0;
        background: rgba(156, 174, 192, 0.27);
        border-radius: 1em;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

    /*Active*/
    .wpnm-button.style-5.active .wpnm-button-toggle:after {
        left: 50%;
    }

/*Animations*/
    @-webkit-keyframes cloud{ 0%{left: -1.5em;} 100%{left: 3em;}}
    @-moz-keyframes cloud{ 0%{left: -1.5em;} 100%{left: 3em;}}
    @-o-keyframes cloud{ 0%{left: -1.5em;} 100%{left: 3em;}}
    @keyframes cloud{ 0%{left: -1.5em;} 100%{left: 3em;}}
